*{
   margin: 0;
   padding: 0;
   border-radius: 10%;
}
.designBody{
    position: inherit;
    transition: all ease-in .5s;
    text-align: center;
    border-radius: 10px;
}
.buttons{
    justify-content: space-evenly;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-decoration: wavy;
    align-items: center;
    flex-direction: row;
    position: inherit;
}
.button{
    padding: 10px 20px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #ffffff80;
    transition: 1s ease;
}
.button:hover,:focus{
    background: #52fff6;
    border: 1px solid #00e1ff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #00e1ff, 0 0 20px #00e1ff, 0 0 50px #00e1ff, 0 0 100px #00e1ff;
}
